/* Estilos gerais da página */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: #111;
    color: #fff;
}

header {
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    padding: 20px;
}

header h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3rem;
    color: #fff;
}

/* Estilos do formulário de login */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('Imagens/login-background.jpg') no-repeat center center fixed;
    background-size: cover;
}

.login-form {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.login-form h2 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}

.login-form button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #f39c12;
    color: white;
    font-size: 1.1rem;
    border-radius: 5px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #e67e22;
}

/* Estilo da mensagem de erro */
.error-message {
    color: red;
    font-size: 0.9rem;
    text-align: center;
}
